.App {
  text-align: left;
}

.result_row{
  display: flex;
  flex-flow: row wrap;
}

.result_row div {
  width: calc(100%/17);
  overflow: hidden;
  border: 1px silver solid;
}

.bp_dist {
  display: flex;
}

.bp_dist input {
  width: 1.2em;
}